<!DOCTYPE html>
<html lang="en">
<head>
<meta charset=utf-8 />
<title><%= $topic_slug %></title>

<link rel="stylesheet" type="text/css" href="/themes/<%= $theme %>/post.css">
</head>
<h1>/dev/0x00sec</h1>
	<ul>
		<li><a href="/t/<%= $id %>/flat">Flatten</a></li>
	</ul>
<h2><%= $title %></h2>
<h3><%= $username %></h3>
<%= $cooked %>
<!---
<a href="0x10 - Fixing gabelstaplerwm to make it production-ready and other tweaks">0x10 - Fixing gabelstaplerwm to make it production-ready and other tweaks</a><br/> -->
</body>
</html>
